@use "../utilities" as *;

/**----------------------------------------
START: Blog CSS
----------------------------------------*/
.blog-section-1 {
    @include breakpoint(xl) {
        padding: 100px 0;
    }

    border-top: 1px solid rgba(15, 15, 15, 0.1);

    .section-heading-1 {
        .sub-heading {
            @include breakpoint(lg) {
                &::before {
                    top: 50%;
                }
            }
        }

        .section-title {
            padding-left: 90px;

            @include breakpoint(lg) {
                padding-left: 0;
            }
        }
    }
}

.post-card-wrap {
    border-bottom: 1px solid var(--rr-color-border-1);

    @include breakpoint(md) {
        border: none;
    }
}

.post-card {
    @include flex-vertical-center;
    border-top: 1px solid var(--rr-color-border-1);

    @include breakpoint(md) {
        border: none;
        gap: 30px;
    }

    @include breakpoint(sm) {
        display: block;
    }

    .post-thumb-wrap {
        padding: 30px 0;
        padding-right: 130px;
        margin-right: 130px;
        border-right: 1px solid var(--rr-color-border-1);

        @include breakpoint(xl) {
            padding-right: 60px;
            margin-right: 60px;
        }

        @include breakpoint(md) {
            padding: 0;
            margin: 0;
            border: none;
            margin-bottom: 30px;
        }

        .post-thumb {
            width: 410px;
            position: relative;
            height: 230px;
            overflow: hidden;
            border-radius: 10px;

            @include breakpoint(lg) {
                width: 320px;
            }

            @include breakpoint(md) {
                width: 400px;
            }

            @include breakpoint(sm) {
                max-width: 100%;
                width: 100%;
                height: 275px;

                img {
                    object-fit: cover;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s ease-in-out;
                transform: scale(1);
                border-radius: 10px;
            }
        }
    }

    .post-content {

        @include breakpoint(xl) {
            padding: 50px 0 60px 0;
        }

        .title {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 30px;
            text-transform: capitalize;

            @include breakpoint(lg) {
                font-size: 22px;
            }

            @include breakpoint(sm) {
                font-size: 18px;
            }

            a {
                background: linear-gradient(var(--rr-color-heading-primary) 0%, var(--rr-color-heading-primary) 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                @include transition(all 0.4s ease-in-out);

                &:hover {
                    color: var(--rr-color-heading-primary);
                    background-size: 100% 2px;
                }
            }
        }

        .rr-primary-btn {
            font-size: 16px;
            font-weight: 500;
        }
    }

    &:hover {
        .post-thumb {
            img {
                transform: scale(1.04)
            }
        }
    }
}


.post-meta {
    @include flex-vertical-center;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 20px;

    li {
        font-family: var(--rr-ff-body);
        color: var(--rr-color-text-body);
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        @include flex-vertical-center;
        column-gap: 10px;
        position: relative;
        padding-left: 15px;

        &:before {
            background-color: var(--rr-color-heading-primary);
            content: "";
            width: 5px;
            height: 5px;
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            opacity: 1;
            border-radius: 50%;
            @include transition(all 0.3s ease-in-out);
        }

        span {
            color: var(--rr-color-heading-primary);
        }

        &:not(:last-of-type) {
            margin-right: 30px;
        }

        a {
            &:hover {
                color: var(--rr-color-theme-primary);
            }
        }

        @include breakpoint(sm) {
            font-size: 14px;
        }
    }

    &-2 {
        border-bottom: 1px solid rgba(28, 28, 40, 0.1);
        padding: 0 40px;

        @include breakpoint(sm) {
            padding: 0;
            padding-left: 30px;
        }

        @media only screen and (max-width: 450px) {
            padding-left: 12px;
        }

        & li {
            margin: 15px 0;
        }
    }

    &-3 {
        margin-bottom: 15px;
    }

    &-3 {
        margin-top: 25px;
    }

    &-4 {
        margin-bottom: 8px;
    }
}

.pagination-wrap {
    @include flex-vertical-center;
    list-style: none;
    column-gap: 10px;

    li {
        a {
            background-color: transparent;
            color: var(--rr-color-common-white);
            font-weight: 700;
            height: 50px;
            width: 50px;
            font-size: 20px;
            @include flex-center;
            line-height: 1;
            border: 1px solid var(--rr-color-border-1);

            &:hover {
                background-color: var(--rr-color-theme-primary);
                color: var(--rr-color-common-white);
                border: 1px solid var(--rr-color-theme-primary);
            }
        }

        .active {
            background-color: var(--rr-color-theme-primary);
            color: var(--rr-color-common-white);
            border: 1px solid var(--rr-color-theme-primary);
        }
    }
}

.post-content-2 {
    padding: 0 40px;

    @include breakpoint(sm) {
        padding: 0;
        padding-left: 30px;
    }

    @media only screen and (max-width: 450px) {
        padding-left: 12px;
    }

    .title {
        margin-top: 25px;
        margin-bottom: 32px;
        font-family: 'Inter Tight';
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #1C1C28;

        a {
            background: linear-gradient(var(--rr-color-heading-primary) 0%, var(--rr-color-heading-primary) 98%);
            background-size: 0 2px;
            background-repeat: no-repeat;
            background-position: left 100%;
            @include transition(all 0.4s ease-in-out);

            &:hover {
                color: var(--rr-color-heading-primary);
                background-size: 100% 2px;
            }
        }
    }

    &-3 {
        margin-top: 35px;
        margin-left: -7px;

        @include breakpoint(md) {
            margin-left: 30px;
        }

        @media only screen and (max-width: 450px) {
            margin-left: 12px;
        }

        .title {
            font-family: 'Inter Tight';
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #1C1C28;

            a {
                background: linear-gradient(var(--rr-color-heading-primary) 0%, var(--rr-color-heading-primary) 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                @include transition(all 0.4s ease-in-out);

                &:hover {
                    color: var(--rr-color-heading-primary);
                    background-size: 100% 2px;
                }
            }
        }
    }
}

// h2-blog css
.h2-blog-section {
    .section-heading {
        @include breakpoint(sm) {
            margin-bottom: 20px;
        }
    }
}

.h2-blog {
    &-card {
        border: 1px solid rgba(28, 28, 40, 0.1);
    }

    &-thumb {
        padding: 30px;
        border-bottom: 1px solid rgba(28, 28, 40, 0.1);

        @media only screen and (max-width: 576px) {
            padding: 5px;
        }


        & img {
            @include breakpoint(lg) {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-2 {
            border: none;
            padding: 28px;

            @media only screen and (max-width: 576px) {
                padding: 5px;
                padding-right: 5px;
            }
        }
    }
}

// h3-blog css
.h3-blog-section {
    .section-heading-5 {
        margin-bottom: 0;

        @include breakpoint(lg) {
            margin-bottom: 30px;
        }
    }

    .h5-blog-info {
        @include breakpoint(lg) {
            display: block;
        }
    }
}

.h3-blog {
    &-wrapper {
        .title {
            font-family: 'Inter Tight';
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: #0F0F0F;
            margin-bottom: 17px;

            &-2 {
                margin-top: 9px;
                font-weight: 600;
                font-size: 24px;
                line-height: 35px;
                color: #0F0F0F;

                @include breakpoint(lg) {
                    & br {
                        display: none;
                    }
                }

                @include breakpoint(sm) {
                    font-size: 18px;
                    line-height: 30px;
                }

            }

            a {
                background: linear-gradient(var(--rr-color-heading-primary) 0%, var(--rr-color-heading-primary) 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                @include transition(all 0.4s ease-in-out);

                &:hover {
                    color: var(--rr-color-heading-primary);
                    background-size: 100% 2px;
                }
            }

            &-3 {
                font-family: 'Inter Tight';
                font-weight: 600;
                font-size: 24px;
                line-height: 35px;
                color: #0F0F0F;
                margin-top: 15px;

                @include breakpoint(md) {
                    & br {
                        display: none;
                    }
                }
            }

            &-5 {
                font-weight: 600;
                font-size: 35px;
                line-height: 50px;
                color: #0F0F0F;

                @include breakpoint(sm) {
                    font-size: 29px;
                    line-height: 40px;
                }
            }
        }

        .blog-cta {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 65px;
            row-gap: 65px;
            row-gap: 10px;
            position: relative;
            border-bottom: 1px solid rgba(15, 15, 15, 0.1);

            @media only screen and (max-width: 992px) {
                gap: 15px;
            }

            @include breakpoint(md) {
                justify-content: space-between;
            }

            @include breakpoint(sm) {
                gap: 20px;
            }

            & span {
                font-family: 'Inter Tight';
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #696969;
                padding-bottom: 20px;
                margin-top: 20px;

                @include breakpoint(sm) {
                    font-size: 15px;
                }
            }

            .blog-pront {
                &::before {
                    position: absolute;
                    background-color: rgba(15, 15, 15, 0.2);
                    height: 5px;
                    width: 5px;
                    content: "";
                    top: 50%;
                    left: 53%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;

                }
            }
        }

        &-2 {
            margin-bottom: 70px;

            @include breakpoint(xxl) {
                margin-bottom: 40px;
            }
        }

        &-3 {
            margin-bottom: 43px;
        }

        .post-info {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #696969;
            margin-bottom: 20px;
        }

        .h3-blog-thumb-2 {
            margin-bottom: 26px;

            & img {
                @include breakpoint(md) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &-meta {
        & li {
            list-style: none;
            font-family: 'Inter Tight';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #696969;
            margin-left: 10px;

            & span {
                color: var(--rr-color-heading-primary);
            }
        }
    }

    &-avater {
        display: flex;
        align-items: center;
    }

    &-info {
        & span {
            font-family: 'Inter Tight';
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #0F0F0F;
            position: relative;
            margin-left: 16px;

            &::before {
                position: absolute;
                content: "";
                width: 5px;
                height: 5px;
                background: #0F0F0F;
                top: 50%;
                left: -14px;
                transform: translateY(-50%);
                opacity: 1;
                border-radius: 50%;

            }
        }

        .title {
            font-family: 'Inter Tight';
            font-weight: 600;
            font-size: 48px;
            line-height: 60px;
            color: #0F0F0F;
            margin-top: 10px;

            @include breakpoint(lg) {
                font-family: "Inter Tight";
                font-weight: 600;
                font-size: 42px;
                line-height: 37px;
                color: #0F0F0F;
                margin-top: 10px;
            }

            @include breakpoint(sm) {
                font-size: 30px;
                line-height: 37px;
            }

            &-4 {
                font-family: 'Inter Tight';
                font-weight: 600;
                font-size: 48px;
                line-height: 60px;
                color: #0F0F0F;
                margin-top: 10px;

                @include breakpoint(xl) {
                    font-size: 40px;
                }

                @include breakpoint(sm) {
                    font-size: 40px;
                    line-height: 42px;
                }
            }
        }
    }

    &-thumb {
        &-2 {
            & img {
                @include breakpoint(sm) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
        }
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }

}

.submit-btn-4 {
    margin-top: 30px;

}


// h5-blog css
.h5-blog {
    &-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .year {
            display: inline-block;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #696969;
            margin-bottom: 0;
            padding: 7px 19.5px;
            border: 1px solid var(--rr-color-border-1);
            border-radius: 100px;

            @include breakpoint(sm) {
                margin-top: 20px;
            }
        }
    }

    &-info {
        display: flex;
        gap: 214px;

        @include breakpoint(lg) {
            flex-wrap: wrap;
            gap: 100px;
        }

        @include breakpoint(md) {
            gap: 25px;
            margin-bottom: 40px;
        }

        .section-heading {
            @include breakpoint(md) {
                margin-bottom: 0;
            }
        }
    }
}



// .blog-grid css
// Sidebar rr-sticky
.sidebar-rr-sticky {
    position: sticky;
    top: 120px;

    @include breakpoint(lg) {
        margin-top: 50px;
    }

}

// Sidebar Widget
.sidebar {
    padding-left: 30px;

    @include breakpoint(sm) {
        padding-left: 0;
    }

}

.sidebar__widget {
    &:not(:last-child) {
        margin-bottom: 55px;
    }

    &-2 {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.sidebar__widget {

    @include breakpoint(md) {
        margin-top: 50px;
    }

    &-title {
        font-family: 'Inter Tight';
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        color: #0F0F0F;
        padding-bottom: 5px;

        &__have-bar {
            position: relative;
        }
    }

    &-service {
        display: flex;
        flex-direction: column;
        gap: 17px;

        a {
            padding-bottom: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 18px;
            line-height: 27px;
            border-bottom: 1px solid rgba(0, 15, 32, 0.10);
            ;
            color: var(--rr-heading-primary);

            &:last-child {
                padding-bottom: 0;
                border-bottom: 0;
            }

            &:hover {
                color: var(--rr-theme-primary);
            }

            i {
                color: var(--rr-theme-primary);
                font-size: 14px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }
    }

    &-download {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            padding: 11.5px 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 16px;
            line-height: 25px;
            @include border-radius(4px);
            border: 1px solid rgba(0, 15, 32, 0.10);
            color: var(--rr-heading-primary);

            img {
                max-width: 15px;
            }

            &:hover {
                background-color: var(--rr-theme-primary);
                color: var(--rr-common-white);

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    &-search {
        .search__bar {
            height: 50px;
            width: 100%;
            position: relative;
            @include border-radius(4px);

            input {
                height: 100%;
                padding: 29px 35px 29px 56px;
                width: 100%;
                @include border-radius(30px);
                border: 1px solid #F4F4F4;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #0F0F0F;

                margin-left: 0;
                background: #F4F4F4;

                &::-webkit-input-placeholder {
                    color: #696969;
                }
            }

            button {
                position: absolute;
                left: 18px;
                padding: 0;
                height: 100%;
                line-height: 0;

                &:hover {
                    svg path[stroke="#525257"] {
                        stroke: var(--rr-theme-primary);
                    }
                }
            }

            .icon {
                position: absolute;
                top: 35%;
                left: 40px;
                transform: translate(-50%);
            }
        }
    }

    &-category {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #696969;
            margin-top: 5px;
            margin-left: 13px;
            background: linear-gradient(var(--rr-color-heading-primary) 0%, var(--rr-color-heading-primary) 98%);
            background-size: 0 2px;
            background-repeat: no-repeat;
            background-position: left 100%;
            @include transition(all 0.4s ease-in-out);

            &:hover {
                color: var(--rr-color-heading-primary);
                background-size: 100% 2px;
            }

            span:first-child {
                display: flex;
                align-items: center;

            }

            &:hover {
                color: var(--rr-theme-primary);

                span:first-child {
                    svg circle[fill="#525257"] {
                        fill: var(--rr-theme-primary);
                    }
                }
            }
        }

        & h4 {
            position: relative;
            margin: 0;
            margin-bottom: -2px;

            &::before {
                content: '';
                position: absolute;
                left: 0px;
                width: 3px;
                height: 3px;
                background: #0F0F0F;
                border-radius: 100px;
                top: 50%;
            }
        }
    }

    &-tagss {
        .tagss {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            a {
                display: block;
                padding: 10px 20px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #696969;
                border: 1px solid rgba(15, 15, 15, 0.1);
                border-radius: 30px;
                transition: all .3s ease-in-out;

                &:hover {
                    color: #FFFFFF;
                    background: #0F0F0F;
                }
            }
        }
    }

    &-have_any_question {
        padding: 30px;
        @include border-radius(10px);
        background: var(--rr-theme-primary);
        box-shadow: 0px 1px 3px 0px rgba(0, 15, 32, 0.10);
        background-repeat: no-repeat;
        background-size: cover;

        &-space {
            padding: 0;
            @include border-radius(0px);
            box-shadow: none;
        }

        &-media {
            padding-left: 41px;
            margin-top: -93px;
            margin-bottom: -30px;
            margin-right: -30px;
            max-width: 367px;
        }

        h3 {
            margin-bottom: 5px;
        }

        p {
            max-width: 275px;
            opacity: 0.8;
            color: var(--rr-common-white);
        }

        .rr-btn {
            .text-one {
                color: var(--rr-heading-primary);
            }
        }
    }

    .sidebar-post {
        margin-bottom: 30px;

        &_thumb {
            width: 100px;
            overflow: hidden;
            height: 100px;
            min-width: 100px;
            min-height: 100px;
            border-radius: 5px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        display: flex;
        gap: 30px;
        align-items: center;

        // @include breakpoint(lg) {
        //     flex-wrap: wrap;
        // }

        &-2 {
            flex-wrap: nowrap;

            // @include breakpoint(sm) {
            //     flex-wrap: wrap;
            // }
        }

        &_thumb {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 0.3s 0s ease-out;
            }

            &:hover {
                img {
                    @include transform(scale(1.2));
                }
            }
        }

        &_content {
            max-width: 250px;

            @include breakpoint(lg) {
                width: 100%;
            }

            .post-meta {
                margin-bottom: 6px;

                li {
                    font-family: var(--rr-ff-body);
                    color: var(--rr-text-body);
                    font-weight: var(--rr-fw-regular);
                    line-height: var(--rr-lh-h5);
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-size: 16px;
                    font-style: normal;
                    text-decoration: none;

                    @include breakpoint(sm) {
                        font-size: 14px;
                    }

                    i {
                        color: var(--rr-theme-primary);
                    }
                }
            }

            h3 {
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                color: #0F0F0F;

                a {
                    background: linear-gradient(var(--rr-color-heading-primary) 0%, var(--rr-color-heading-primary) 98%);
                    background-size: 0 2px;
                    background-repeat: no-repeat;
                    background-position: left 100%;
                    @include transition(all 0.4s ease-in-out);

                    &:hover {
                        color: var(--rr-color-heading-primary);
                        background-size: 100% 2px;
                    }
                }
            }

            & span {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #696969;
            }
        }

        &-2 {
            // @include breakpoint(sm) {
            //     flex-wrap: wrap;
            // }
        }
    }
}


.bottom-button {
    gap: 10px;
    margin-top: 40px;

    & a {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #0F0F0F;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #E9E9ED;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: #0F0F0F;
            color: #ffff;
        }
    }
}

// blog-grid-2 css

.post-content {
    .dec {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #696969;
    }

}

.blog-btn {
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696969;
    background: linear-gradient(var(--rr-color-heading-primary) 0%, var(--rr-color-heading-primary) 98%);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    @include transition(all 0.4s ease-in-out);

    &:hover {
        color: var(--rr-color-heading-primary);
        background-size: 100% 2px;
        color: #fff;
    }

    & i {
        margin-left: 7px;
    }

    &-2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #696969;
    }
}

// .blog-detail css
.blog-detail {

    &-content {
        margin-bottom: 40px;

        .detail-title {
            font-weight: 600;
            font-size: 35px;
            line-height: 42px;
            color: #0F0F0F;
            margin-bottom: 13px;
        }

        & p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #696969;

            @include breakpoint(xl) {
                & br {
                    display: none;
                }
            }

        }

        .dec {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #696969;
            margin-top: 10px;

        }
    }

    &-thumb {
        margin-bottom: 40px;
    }

    &-wrap {
        padding: 50px 55px 94px 55px;
        border: 1px solid rgba(15, 15, 15, 0.1);

        @include breakpoint(xl) {
            padding: 50px 36px 60px 33px;
        }

        @include breakpoint(sm) {
            padding: 50px 0px 60px 14px;
        }

        & h5 {
            font-weight: 600;
            font-size: 24px;
            line-height: 35px;
            color: #0F0F0F;
            margin-bottom: 49px;

        }

        & span {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #696969;
            margin-left: 55px;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                height: 2px;
                width: 30px;
                background: #0F0F0F;
                left: -56px;
                top: 50%;
            }
        }
    }

    &-social {
        ul {
            li {
                list-style: none;
                display: inline-block;
                margin-right: 10px;

                a {
                    width: 40px;
                    height: 40px;
                    display: grid;
                    border: 1px solid #696969;
                    border-radius: 50%;
                    place-items: center;

                    &:hover {
                        background: #0F0F0F;
                        color: #fff;
                    }
                }
            }
        }
    }

    &-item {
        display: flex;
        padding-bottom: 70px;
        position: relative;

        @include breakpoint(sm) {
            flex-wrap: wrap;
        }


        &::before {
            position: absolute;
            content: '';
            height: 1px;
            width: 102.7%;
            background: rgba(15, 15, 15, 0.1);
            bottom: 0;
        }

        .detail__img {
            @include breakpoint(sm) {
                width: 100%;
            }

            & img {
                max-width: 300px;
                height: 100%;
                object-fit: cover;

                @include breakpoint(sm) {
                    width: 100%;
                }
            }
        }

        .detail-content {
            margin-left: 50px;
            margin-top: 40px;

            @include breakpoint(sm) {
                margin-left: 0;
            }

            & h3 {
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
                color: #0F0F0F;

            }

            & span {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #696969;
            }

            & p {
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #696969;
                margin-top: 15px;
                margin-bottom: 20px;

                @include breakpoint(xl) {
                    & br {
                        display: none;
                    }
                }
            }
        }
    }
}

.blog-detail-social {
    @include breakpoint(sm) {
        margin-top: 30px;
    }

    .title {
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: #0F0F0F;
    }

}

.sidebar__widget-tagss-2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    position: relative;
    flex-wrap: wrap;

    &::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 102.7%;
        background: rgba(15, 15, 15, 0.1);
        bottom: 0;
    }
}

.sidebar-post__wrapper-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .sidebar-post {
        display: flex;

    }

    .sidebar-post_content {
        margin-left: 30px;

        &-2 {
            @include breakpoint(lg) {
                margin-left: 0;
            }
        }
    }
}

.sidebar__widget-3 {
    margin-top: 65px;
    padding-bottom: 40px;

    &::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 102.7%;
        background: rgba(15, 15, 15, 0.1);
        bottom: 0;
    }
}

.blog-border {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        height: 115%;
        width: 1px;
        top: -5.1%;
        bottom: 0;
        right: -24px;
        background: rgba(15, 15, 15, 0.1);

        @include breakpoint(xl) {
            height: 116%;
        }
    }

    &-2 {
        &::before {
            position: absolute;
            content: "";
            height: 115%;
            width: 1px;
            top: -3.3% !important;
            bottom: 0;
            right: -24px;
            background: rgba(15, 15, 15, 0.1);

            @include breakpoint(xl) {
                height: 116%;
            }
        }
    }

    &-2 {
        &::before {
            position: absolute;
            content: "";
            height: 129%;
            width: 1px;
            top: -5.1%;
            bottom: 0;
            right: -24px;
            background: rgba(15, 15, 15, 0.1);

            @include breakpoint(xl) {
                height: 116%;
            }
        }
    }
}

.contact-us__form-wrapper {
    margin-top: 65px;

    .title {
        font-weight: 600;
        font-size: 27px;
        line-height: 33px;
        color: #0F0F0F;
        margin-bottom: 45px;
    }

    &-2 {
        width: 100%;
        max-width: 100%;
    }

    .contact-shape {
        z-index: -1;
    }

    .contact-us__form {
        .contact-us__input {
            position: relative;

            span {
                color: var(--rr-heading-primary);
                font-weight: var(--rr-fw-regular);
                line-height: var(--rr-lh-h5);
                font-size: 16px;
                font-style: normal;
                display: block;
            }

            input {
                position: relative;
                line-height: var(--rr-lh-h5);
                font-weight: var(--rr-fw-regular);
                margin-top: 5px;
                margin-left: 0;
                background: #F4F4F4;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #0F0F0F;
                margin-bottom: 22px;
                padding: 15px 12px 15px 27px;
                border-radius: 7px;
                font-style: normal;
                outline: none;
                width: 100%;
                border: none;

                &::-moz-placeholder {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #696969;
                }
            }

            &-5 {
                position: relative;

                & input {
                    background: none;
                    border: 1px solid rgba(15, 15, 15, 0.1);
                    border-radius: 49.5px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #696969;
                    padding: 34.5px 188px 34.5px 40px;
                    margin-bottom: 0px;

                    @include breakpoint(sm) {
                        padding: 30px 183px 30px 20px;
                    }
                }

                .contact-btn {
                    position: absolute;
                    top: 23%;
                    right: 20px;
                    transform: translateY(-50% -50%);
                    color: var(--rr-heading-primary);
                    border: none;

                    @include breakpoint(sm) {
                        top: 25%;
                        right: 10px;
                    }
                }
            }
        }

        .contact-us__textarea {
            position: relative;

            textarea {
                color: #0F0F0F;
                margin-top: 5px;
                height: 150px !important;
                margin-left: 0;
                border: 1px solid #F4F4F4;
                padding: 10px 12px 10px 20px;
                border-radius: 7px;
                width: 100%;
                background: #F4F4F4;

                &::-moz-placeholder {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #696969;
                }
            }
        }
    }

}

.live-comment-widget__agree {
    margin-top: 15px;

    & label {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #696969;
        margin-left: 12px;

        & span {
            color: #000000;
        }
    }

    &-2 {
        margin-left: 40px;

        @include breakpoint(sm) {
            margin-left: 20px;
        }
    }
}

.blog-detail-img {
    & img {
        @include breakpoint(lg) {
            width: 100%;
            margin-top: 30px;
        }
    }
}

// blog-4 css start 
.blog-section-4 {
    &-item {
        display: flex;
        align-items: start;
        gap: 123px;
        padding: 29px 0px 29px 0px;
        border-top: 1px solid rgba(23, 23, 23, 0.1);

        @include breakpoint(xl) {
            gap: 91px;
        }

        @include breakpoint(lg) {
            display: flex;
            gap: 20px;
        }

        @include breakpoint(md) {
            display: block;
        }

        &:last-child {
            border-bottom: 1px solid rgba(23, 23, 23, 0.1);
        }

        @include breakpoint(sm) {}

        .author {
            display: flex;
            gap: 30px;
            align-items: center;

            @include breakpoint(lg) {
                white-space: nowrap;
            }

            &-one {
                gap: 36px;
            }

            &-true {
                gap: 17px;
            }

            .thumb {
                display: flex;
                align-items: center;
                gap: 10px;

                .name {
                    margin-bottom: 0;

                    span {
                        color: #696969;
                    }
                }
            }

            .date {
                .icon {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
            }
        }

        .blog-wrap {
            display: flex;
            gap: 70px;

            @include breakpoint(xl) {
                gap: 45px;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                flex-wrap: nowrap !important;
                gap: 18px;
            }

            @include breakpoint(sm) {
                flex-wrap: wrap;
            }

            @include breakpoint(md) {
                margin-top: 30px;
            }

            .content {

                @include breakpoint(lg) {
                    max-width: 301px;
                }

                .title {
                    margin-bottom: 0;
                    font-size: 20px;
                    line-height: 1.5;
                    color: #171717;
                    font-family: var(--rr-ff-heading);
                    font-weight: var(--rr-fw-sbold);

                    @include breakpoint(xl) {
                        font-size: 18px;
                    }

                    @include breakpoint(md) {
                        br {
                            display: none;
                        }
                    }

                    a {
                        background: linear-gradient(var(--rr-color-heading-primary) 0%, var(--rr-color-heading-primary) 100%);
                        background-size: 0% 1.5px;
                        background-repeat: no-repeat;
                        background-position: left 100%;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            // color: var(--rr-color-heading-primary);
                            background-size: 100% 2px;
                        }

                        @include breakpoint(lg) {
                            br {
                                display: none;
                            }
                        }
                    }
                }

                .desc {
                    display: flex;
                    font-size: 16px;
                    line-height: 28px;
                    align-items: center;
                    color: var(--rr-text-body);
                    font-family: var(--rr-ff-body);
                    font-weight: var(--rr-fw-regular);
                    margin-bottom: 0;
                    margin: 16px 0;

                    & br {
                        @include breakpoint(lg) {
                            display: none;
                        }
                    }

                    @include breakpoint(md) {
                        font-size: 15px;
                    }

                    @media (min-width: 576px) and (max-width: 767px) {
                        margin: 9px 0;
                    }


                }
            }
        }
    }
}

.blog-grid-section {
    padding-top: 130px;
    border-top: 1px solid rgba(15, 15, 15, 0.1);

    @include breakpoint(lg) {
        padding-top: 100px;
    }

    @include breakpoint(md) {
        padding-top: 80px;
    }

    @include breakpoint(sm) {
        padding-top: 70px;
    }
}

/* !END: Theme Blog CSS */